.DrawerToggle {
    width: 40px;
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: #94710F;
    border-radius: 1px;
}

@media (min-width: 450px) {
    .DrawerToggle {
        display: none;
    }
}