.DesktopOnly a.NavItem,
.DesktopOnly a.NavItem:visited{
    padding-right: 15px;
    padding-bottom: 5px;
    color: #eee;
    font-size: 1rem;
}


@media screen and (min-width: 650px) {
    .DesktopOnly a.NavItem,
    .DesktopOnly a.NavItem:visited{
        padding-right: 30px;
    }
}

a.NavItem,
a.NavItem:visited {
    font-size: 1.5rem;
    color: #94710F;
    transition: color 0.2s;
    cursor: pointer;
    border: 0;
}

a.NavItem:hover,
a.NavItem:active {
    color: #d71419;
    border: 0;
}

.NavItems li {
    padding: 10px 20px 10px 10px;
}