.Ionicon:hover {
    border: 0;
}

.Contact {
    background-color: #eee;
}
/*
.ContactForm {
    margin: 10% 10%;
    width: 80%;
}

.ContactInfo {
    margin: 4rem 0 4rem 0;
    font-size: 85%;
}
*/

.ContactForm {
    margin-bottom: 2rem;
}

.ContactForm input,
.ContactForm textarea {
    background-color: #eee;
}

.ContactInfo p {
    text-align: center;
}


@media screen and (min-width: 700px) {
    .ContactForm {
        float: left;
        width: 45%;
        margin-right: 5%;
    }
    .ContactInfo {
        float: right;
    }
    .ContactInfo p{
        text-align: left;
    }
}



